:root{
    --mainframe-blue: #1e90ff;
    --java-orange: #f8981d;
    --spring-green: #00ff7f;
    --light-bg: #f0f0f0;
    --text-dark: #333333;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: var(--light-bg);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(135deg, var(--mainframe-blue) 0%, #34495e 100%);
    color: white;
    padding: 4rem 1rem;
    text-align: center;
}

.dual-profile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 40px 10%;    
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    margin-top: 0;
}

.card.mainframe {
    border-top: 6px solid var(--mainframe-blue);
}

.card.java {
    border-top: 6px solid var(--java-orange);
}

.tech-tag {
    display: inline-block;
    background: #eee;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.85rem;
    margin: 5px;
    font-weight: bold;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
    color: #7f8c8d;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}

.social-links a {
    font-size: 2rem;
    margin: 0 15px;
    color : #333;
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-links a .fa-linkedin:hover {
    color: #0077b5;
    transform: scale(1.2);
}

.social-links a .fa-github:hover {
    color: #333;
    transform: scale(1.2);
}

.project-container{
    display : flex;
    gap: 40px;
    background: white;
    paddin: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.05);
    margin-bottom: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.project-video{
    flex: 1;
    min-width: 300px;
}

.video-wrapper{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
}

.video-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.project-info{
    flex: 1;
    min-width: 300px;
}

.project-info h3{
    margin-top: 0;
    color: var(--mainframe-blue)
}

.project-details{
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin: 15px 0;
    font-size: 0.95rem;
}

.btn-github{
    display: inline-block;
    background: #24292e;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-github:hover{
    background: #444;
}
